body {
    font-family: Arial, sans-serif;
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 600px;
    margin: auto;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
}

.controls {
    text-align: center;
    margin-top: 10px;
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}
